{% extends 'base.html'%}
{% load filters %}

{% block 'body' %}
<div class="container">
    {% if messages %}
      <br>
      {% for message in messages%}
        <div class="alert {{message.tags}}">{{message}}</div>
      {% endfor %}
    {% endif %}
<form action="{% url 'add_tirinha' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <br>
    <label>Imagens: </label>
    <input class="form-control" type="file" name="imagens" multiple accept="image/*">    
    <br>
    <br>
    <label>Titulo: </label>
    <input class="form-control" type="text" name="titulo">
    <br>
    <br>
    {% if user.cargo == 'D' %}
    <label>Selecione a personagem da tirinha: </label>
    <select name="personagem">
        {% for personagem in personagens %}
        <option value="{{personagem.id}}">{{personagem.nome}}</option>
        {% endfor %}
    </select>
    {% elif user.cargo == 'A' %}
    <label>Selecione o seu personagem: </label>
    <select name="personagem">
        {% for personagem in personagens %}
        <option value="{{personagem.id}}">{{personagem.nome}}</option>
        {% endfor %}
    </select>
    {% endif %}
    <br>
    <br>
    <input class="btn btn-success" type="submit" value="Enviar">

</form>
<hr style="background-color: gray;">
<div class="listar_tirinhas">
    <div class="row">
        {% for tirinha in tirinhas %}
        <div class="col-md-3">
            <div style="background-color: #e0e0e0;" class="card mb-3">
                <!-- {% if tirinha|get_first_image %}
                <img width="100%" class="card-img-top" src="{{tirinha|get_first_image}}">
                {% endif %} -->
                <div class="card-body">
                    <h5 class="card-title">{{tirinha.titulo}}</h5>
                    <span class="badge badge-info">{{tirinha.personagem}}</span>
                    <br> <br>
                    <a href="{% url 'delete_tirinha' tirinha.id %}" class="btn btn-danger">Excluir</a>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal{{ tirinha.id }}">Editar</button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editModal{{ tirinha.id }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel{{ tirinha.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel{{ tirinha.id }}">Editar Tirinha</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'editar_tirinha' tirinha.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="titulo{{ tirinha.id }}">Titulo:</label>
                                <input class="form-control" type="text" id="titulo{{ tirinha.id }}" name="titulo" value="{{ tirinha.titulo }}" required>
                            </div>
                            <div class="form-group">
                                <label for="personagem{{ tirinha.id }}">Personagem:</label>
                                <select class="form-control" id="personagem{{ tirinha.id }}" name="personagem" required>
                                    {% for personagem in personagens %}
                                    <option value="{{ personagem.id }}" {% if personagem.id == tirinha.personagem.id %}selected{% endif %}>{{ personagem.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="imagens{{ tirinha.id }}">Imagens:</label>
                                <input class="form-control" type="file" id="imagens{{ tirinha.id }}" name="imagens" multiple accept="image/*">
                            </div>
                            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
